.main {
  height: 100%;

  .sidebar {
    position: fixed;
    background: #070D59;
    color: #ffffff;
    left: -300px;
    width: 300px;
    bottom: 0;
    top: 0;
    z-index: 1;

    &.open{
      left: 0;
    }

    .sidebar-toogle {
      content: '';
      height: 35px;
      width: 35px;
      right: -35px;
      background: #dedede;
      top: 16px;
      position: absolute;
      border-radius: 0px 5px 5px 0;

      img{
        height: 50%;
        padding: 10px;
      }
    }

    .logo {
      width: 100%;
      text-align: center;
      margin-top: 3rem;
    }

    .bottom{
      flex: 0 0 auto;
      display: flex;
    }
    #file-upload{
      display: none;
    }
    .file-upload-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: white;
      font-weight: bold;
      background: #F7B633;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 20px;
      width: 100%;
      padding: 5px 10px;
      cursor: pointer;
      span {
        margin-left: 0.5rem;
      }
    }
  }

  .container {

    height: 100%;
    overflow: auto;
    padding: 1rem;
  }


}

@media (min-width: 992px) {
  .main {
    display: flex;
    height: 100vh;

    .sidebar {
      left: 0;
      display: block;
    }

    .container {
      margin-left: 300px;
      flex: 1 1 auto;
      height: 100%;
    }
    .sidebar-toogle{
      display: none;
    }
  }
}
